body {
  font-family: 'Source Sans Pro', sans-serif;
  background-image: url("../images/bg-red.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  justify-content: center;
}

.App {
  position: relative;
  min-height: 100vh;
}

p {
  padding: 5px 50px;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}
 
footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 50px;

}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  position: relative;
  height: 50px;
  width: 100%;
}

.home-link {
  color: white;
  text-decoration: none;
  padding: 10px 30px;
}

.legend-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  width: 50%;
  padding: 10px;
}

.legend-card {
  margin: 100px;
}

.legend-name {
  margin-bottom: -25px;
}

/* SEARCH BAR */
input {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #ece8e1 !important;
  border: none;
  border-radius: 2px 0 0 2px;
  padding:20px;
  font-size: 12px;
  width: 40vw;
  margin: 5px;
}
/* SEARCH BAR END */


/* BUTTONS */
@import url("https://fonts.googleapis.com/css?family=Mukta:700");
* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

.legend-close-button {
  background-color: rgb(0, 0, 0);
  width: 30.5px;
  height: 30.5px;
  border-radius: 3px;
  color: white;
  margin-right: 10px;
}
 .legend-edit-button {
  background-color: rgb(0, 0, 0);
  padding: 5px;
  border-radius: 3px;
  color: white;
 }
 .submit-legend-button{
  background-color: rgb(0, 0, 0);
  padding: 5px;
  border-radius: 3px;
  color: white;
  margin-right: 10px;
 } 
 .legend-cancel-button {
  background-color: rgb(0, 0, 0);
  padding: 5px;
  border-radius: 3px;
  color: white;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 5;
  font-size: inherit;
  font-family: inherit;
}
button.learn-more {
  width: 12rem;
  height: auto;
}
button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #000000;
  border-radius: 1.625rem;
}
button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #ffffff;
}
button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #fff;
}
/* END BUTTON */